/* The grid: Four equal columns that floats next to each other */
.tab_column {
    float: left;
    width: 10%;
    padding: 5px;
    margin: 0 auto;
  }
  
/* Style the images inside the grid */
.tab_column img {
opacity: 0.8;
cursor: pointer;
margin: 0 auto;
}

.tab_column img:hover {
opacity: 1;
margin: 0 auto;
}

/* Clear floats after the columns */
.tab_row:after {
content: "";
display: table;
clear: both;
margin: 0 auto;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.tab_container {

position: relative;
display: block;
margin: 0 auto;
}

/* Expanding image text */
#imgtext {
position: absolute;
bottom: 15px;
left: 15px;
color: white;
font-size: 20px;
margin: 0 auto;
}

/* Closable button inside the image */
.tab_closebtn {
position: absolute;
top: 10px;
right: 15px;
color: white;
font-size: 35px;
cursor: pointer;
}

/*  
#juxtapose-embed {
    width: 100%;
    max-width: initial;
} */

#juxtapose-embed {
    width: 65%;
    height: 20%;
    text-align: center;
    margin: 0 auto;
    /* max-width: initial; */
}

#juxtapose-hidden {
    display: none;
}

#controls {
    text-align: center;
    margin-top: 20px;
}